h1 {
  color:blue;
}

#container {
  display: flex;
  flex-direction: row;
}

#nodepartment {
  flex: 1;
  background-color: rgb(209, 209, 226);
  height: 500px;
}

#department1 {
  flex: 1;
  background-color: rgb(204, 216, 204);
  height: 500px;
}

#department2 {
  flex: 1;
  background-color: rgb(228, 181, 216);
  height: 500px;
}

#department3 {
  flex: 1;
  background-color: rgb(238, 216, 94);
  height: 500px;
}

#department4 {
  flex: 1;
  background-color: rgb(197, 166, 233);
  height: 500px;
}

#department5 {
  flex: 1;
  background-color: rgb(168, 224, 241);
  height: 500px;
}
