h1 {
  color:blue;
}

#container {
  display: flex;
  flex-direction: row;
}

#nodepartment {
  flex: 1;
  background-color: rgb(209, 209, 226);
  height: 500px;
}

#Shoes {
  flex: 1;
  background-color: rgb(204, 216, 204);
}

#Clothing {
  flex: 1;
  background-color: rgb(228, 181, 216);
}

#Beauty {
  flex: 1;
  background-color: rgb(238, 216, 94);
}

#Office {
  flex: 1;
  background-color: rgb(197, 166, 233);
}

#Garden {
  flex: 1;
  background-color: rgb(168, 224, 241);
}
